.card-title{
    background-color: var(--primary-500) !important;
    color: var(--bluegray-900) !important;
}
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
